#pong-container{
  position: relative;
  background: #cfcfcf;
  width: 1000px;
  height: 500px;
  max-height: 90%;
  max-width: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.board{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #efefef;
}
.board:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #444;
  z-index: 1;
}
.board.paused:before {
  content:"Paused";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 7em;
  text-transform: uppercase;
  color: #4a4f5e;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
}
.ball{
  width: 30px;
  height: 30px;
  position: absolute;
  background: brown;
  border-radius: 60px;
  top: 200px;
}
.paddle{
  width: 10px;
  height: 60px;
  display: block;
  position: relative;
  content: " ";
  background: #ccc;
  position: absolute;
}
.scoreboard{
  width: 70%;
  height: 70%;
  margin-left:auto;
  margin-right: auto;
  display: flex;
}
.score{
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 12em;
  margin: auto;
  color: #ccc;
}
.instructions{
  position: absolute;
  bottom: 0px;
  padding: 5px 10px;
  color: #444;
}
.instructions.left{
  left: 0px;
}
.instructions.right{
  right: 0px;
}