<div class="ui inverted vertical footer segment moving-bg" style="padding: 5em 0em;">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Links</h4>
        <div class="ui inverted link list">
          <a href="" class="item">LinkedIn</a>
          <a href="https://github.com/mariosar/" class="item">Github</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Contact</h4>
        <div class="ui inverted link list">
          <div class="item">
          </div>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Thank you for visting</h4>
        <p>I love to travel, photography, scuba diving, and solving problems.</p>
      </div>
    </div>
  </div>
</div>