<div class="ui attached stackable secondary inverted menu">
  <div class="ui container">
    <a class="toc item" href="/">
      <h2 class="ui header" style="color: white">Mario Saraiva</h2>
    </a>
    <div class="toc item tagline">
      Full stack developer
    </div>
    <a class="item" href="/">
      <h2 class="ui header" style="color: white">Mario Saraiva</h2>
    </a>
    <div class="item tagline">
      [Full stack developer]
    </div>
    
    <div class="right menu">
      <a class="ui item" href="/project">Projects</a>
      <a class="ui item contact-trigger" href="/contact">Contact</a>
      <a class="ui item" href="/blog">Blog</a>
      <div class="right toc item" style="padding-left: 0.5em; padding-right: 0px;">
        <a class="ui inverted white icon button" style="margin-left: 0px"><i class="sidebar icon"></i></a>
      </div>
    </div>
  </div>
</div>
