<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="/assets/js/semantic-ui/sidebar.js"></script>
    <script type="text/javascript" src="/assets/js/semantic-ui/modal.js"></script>
    <script type="text/javascript" src="/assets/js/semantic-ui/dimmer.js"></script>
    <script type="text/javascript" src="/assets/js/semantic-ui/transition.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L910M711JS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L910M711JS');
    </script>
  </head>
  <body>
    {% include sidebar.html %}

    <div class="pusher">
      <div class="ui inverted center aligned segment">
        {% include navigation.html %}
      </div>

      <div class="section">

        {{ content }}

      </div>
    </div>

    <div class="ui modal small contact">
      <i class="grey close icon"></i>
      <div class="header" style="text-transform: uppercase;">
        Contact Me
      </div>
      <div class="content">
        <div class="description">
          <div id="contact-form"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/js/pong.js"></script>
    <script type="text/javascript" src="/assets/js/general.js" chartset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/bundle.js" charset="utf-8"></script>
  </body>
</html>